<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title>
      Service
    </ion-title>
  </ion-toolbar>
  <ion-toolbar color="primary">
    <ion-segment [(ngModel)]="status" (ionChange)="segmentChanged($event)">
      <ion-segment-button value="1">
        <ion-label>Antrian</ion-label>
      </ion-segment-button>
      <ion-segment-button value="2">
        <ion-label>Proses</ion-label>
      </ion-segment-button>
      <ion-segment-button value="3">
        <ion-label>Selesai</ion-label>
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card *ngFor="let item of items">
    <ion-card-header>
      <ion-card-subtitle>{{item.date}}</ion-card-subtitle>
      <ion-card-title>{{item.nota}}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>Total {{item.total}}</p>
      <p>{{item.address}} </p>
    </ion-card-content>
  </ion-card>
</ion-content>
