<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title>
      Beranda
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-slides mode="md" pager="md" scrollbar="md">
    <ion-slide>
      <ion-card class="slider">
        <ion-card-header>
          <ion-card-subtitle>Awesome Subtitle</ion-card-subtitle>
          <ion-card-title>Awesome Title</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Nam, facilis odit veritatis voluptate obcaecati ab ducimus repudiandae doloribus! Fugiat dolorum maxime debitis libero omnis consectetur laudantium veniam magni sequi officiis.
        </ion-card-content>
      </ion-card>
    </ion-slide>
    <ion-slide>
      <ion-card class="slider">
        <ion-card-header>
          <ion-card-subtitle>Awesome Subtitle</ion-card-subtitle>
          <ion-card-title>Awesome Title</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Nam, facilis odit veritatis voluptate obcaecati ab ducimus repudiandae doloribus! Fugiat dolorum maxime debitis libero omnis consectetur laudantium veniam magni sequi officiis.
        </ion-card-content>
      </ion-card>
    </ion-slide>
    <ion-slide>
      <ion-card class="slider">
        <ion-card-header>
          <ion-card-subtitle>Awesome Subtitle</ion-card-subtitle>
          <ion-card-title>Awesome Title</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Nam, facilis odit veritatis voluptate obcaecati ab ducimus repudiandae doloribus! Fugiat dolorum maxime debitis libero omnis consectetur laudantium veniam magni sequi officiis.
        </ion-card-content>
      </ion-card>
    </ion-slide>
  </ion-slides>
</ion-content>
