<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="login"></ion-back-button>
    </ion-buttons>
    <ion-title>Daftar</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>Awesome Subtitle</ion-card-subtitle>
      <ion-card-title>Awesome Title</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-item>
        <ion-label>Email <ion-text color="danger">*</ion-text></ion-label>
        <ion-input required inputmode="email"></ion-input>
      </ion-item>
      
      <ion-item>
        <ion-label>Nama <ion-text color="danger">*</ion-text></ion-label>
        <ion-input required inputmode="email"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label>Password <ion-text color="danger">*</ion-text></ion-label>
        <ion-input required inputmode="password"></ion-input>
      </ion-item>
    </ion-card-content>
  </ion-card>
</ion-content>
